<nav class="navbar navbar-expand-md navbar-color navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><span class="fa fa-user-md font-title" style="margin-left: 11px;">&nbsp;Dentalix</span></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-bar-chart menu-icons" no-outline matTooltip="Estadísticas" routerLink="/statistics" routerLinkActive="active" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-folder-open-o menu-icons" no-outline matTooltip="Inventario" routerLink="/inventory" routerLinkActive="active" aria-hidden="true"></i></a>
      </li>

      <!-- dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color:white;"><span>Orlando Pereira&nbsp;</span><i class="material-icons">account_circle</i></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li> 
    </ul>
  </div> 
</nav>
<router-outlet></router-outlet>
<!-- <div class="row no-gutters">
  <div class="col-md-3" style="height: 90vh; background: #E6E6E6;">
    <div class="list-group menu-lateral">
      <a no-outline matTooltip="Página Principal" routerLink="/home" class="list-group-item list-group-item-action" routerLinkActive="active-link">Página Principal</a>
      <a  no-outline matTooltip="Galería" routerLink="/gallery" class="list-group-item list-group-item-action" routerLinkActive="active-link">Galería</a>
    </div>
  </div>
  <div class="col-md-9" style="height: 90vh; background: peachpuff;">
    <div class="mat-card">
      <router-outlet></router-outlet>
    </div>
  </div>

</div> -->

