<div class="row no-gutters">
    <div class="col-md-3" style="height: 90vh; background: #E6E6E6;">
        <div class="list-group menu-lateral">
        <a no-outline routerLink="/home" class="list-group-item list-group-item-action" routerLinkActive="active-link">Página Principal</a>
        <a  no-outline routerLink="/gallery" class="list-group-item list-group-item-action" routerLinkActive="active-link">Galería</a>
        </div>
    </div>
    <div class="col-md-9" style="height: 90vh; background: peachpuff;">
        <div class="mat-card">
        </div>
    </div>
</div>