.lateral-menu-body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1abc9c+0,47ffbb+100 */
  background-color:  #24c7a7; 
  padding-top: 0;
  height:91.5vh;
}

.sidemenu-element .material-icons{
    color: #30a08b;
}

.sidemenu-element i{
    color:  #24ecc5;
}

.sidemenu-element {
    cursor: pointer;
    height: calc(85vh / 10);
    color: white;
    padding-top: 3vh;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sidemenu-element:hover{
    background-color: #1ab99a;
    color: white;
    padding-left: 10px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
